.footer-container{
    /* margin: 0; */
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    /* position: absolute; */
    z-index: 10;
    backdrop-filter: blur(5px); 
    /* bottom: 0; */
    margin-top: 2em;
    margin-bottom: 1em;
}
.footer__data{
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    font-size: 1.1rem;
}
.footer__data__span{
    display: flex;
    gap: 0 1em;
}
.footer__redes{
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    font-size: 2rem;
    align-items: center;
}
.footer__redes>a{
    transition: transform 1s ease;
}
.footer__redes>a:hover{
    transform: scale(1.5); 
}
.footer__redes__git{
    color: #171515;
}
.footer__redes__link{
    color: #0077B5;
}
.footer__redes__wsp{
    color: #25D366;
}