.appprincipal-container{
    position: relative;
    width: 100%;
    height: 98vh;
    overflow-x: hidden;
}
.appprincipal__bubbles{
    position: absolute;
    display: flex;
}
.appprincipal__bubbles span{
    position: relative;
    width: 0.5em;
    aspect-ratio: 1;
    background: #4fc3dc;
    margin: 0 1.8em;
    border-radius: 50%;
    box-shadow: 0 0 0 0.25em #4fc3dc44,
    0 0 5em #4fc3dc,
    0 0 1em #4fc3dc;
    animation: animate 25s linear infinite;
    animation-duration: calc(300s /var(--i));
}
.appprincipal__bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 0.25em #ff2d7544,
    0 0 5em #ff2d75,
    0 0 1em #ff2d75;

}

@keyframes animate{
    0%{
        transform: translateY(90vh) scale(0.25);
    }
    100%{
        transform: translateY(5vh) scale(1.25);
    }
}