@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-negro: rgb(75, 75, 75);
    --color-blanco: rgb(230, 230, 230);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-blanco);
    color: var(--color-negro);
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}
h1,
h2,
h3,
h4,
p,
span,
ul{
    margin-top: 0;
    margin-bottom: 0;
    font-family: inherit;
}
button,input{
    font-size: inherit;
    border: 0;
}
img {
    width: 100%;
}