@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-negro: #000000;
    --color-verde: #05FF04;
    --color-morado: #9584E6;
    --color-morado-oscuro: #554a88;
    --color-rosado: #FFDFFF;
    --color-blanco: #E0F5FE;
}

body {
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(to bottom left,var(--color-negro), 85%, var(--color-morado));
    color: var(--color-blanco);
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}
h1,
h2,
h3,
h4,
p,
span,
ul{
    margin-top: 0;
    margin-bottom: 0;
    font-family: inherit;
}
button,input{
    font-size: inherit;
    border: 0;
}
img {
    width: 100%;
}